*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $colorMedio;
    background-image: url(../img/fondohojas.jpg);
    background-size: cover;
    font-family: "Shantell Sans", cursive;
}

