*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #84A98C;
    background-image: url(../img/fondohojas.jpg);
    background-size: cover;
    font-family: "Shantell Sans", cursive;
}

header {
    top: 5px;
}


.logogrande img{
    width: 250px;
    padding: 1rem;
    border: 5px black solid;
}
.logogrande{
    
    text-align: center;
  
}
.titulo1{
    color: white;
}
h2{
    font-size: 2rem;
}

nav {
   
    width: 100%;
    margin: 0 auto;
    border: 3px solid black;
    background-color: #CAD2C5;
    border-radius: 5px;
        
    
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
}

main{
    padding: 20px;
}
.link{
    color: #2F3E46;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.7rem;
}

.link:hover{
background-color: #2F3E46;
color: white;
border-radius: 10px;
}

.texto{
    border: 3px solid black;
    border-radius: 10px;
    line-height: 1.5;
    text-align: center;
    margin: 5px;
    padding: 10px;
    background-color: #354F52;
    color: whitesmoke;

}

.image img{
    width: 80%;
    border-radius: 20px
}    

.image{
    text-align: center;
}

main h1{
    text-align: center;
    color: #CAD2C5;
    background-color: darkolivegreen;
}


.padre img{
    width: 600px;
    opacity: 0.7;
    
}

.padre img:hover{
    opacity: 1;
}
.padre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
}
/*estilo para pagina productos*/
.producto{
    background-color: #354F52;
    color: aliceblue;
    line-height: 1.5;
    border: 5px solid green;
    border-radius: 10px;
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
}

.formulario{
    border: 5px double yellowgreen;
    background-color: #2F3E46;
    color: wheat;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    margin: 5px;

}
.formcss{
    padding: 10px;
}

footer {
    background: rgb(77,152,133);
    background: linear-gradient(114deg, rgba(77,152,133,1) 9%, rgba(149,213,178,1) 75%);
    border-top: 2px solid black
}

.logoinsta{
    display: inline-block;
    margin-left: 90%;
    width: 50px;
    
}
.logox{
    width: 50px;
}
